<app-header></app-header>
<div class="container">
	<div class="row">
		<div class="col-md-4 order-md-2 mb-4">
			<form class="card p-2">
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="User Name" #option>
				  <div class="input-group-append">
					<button type="submit" class="btn btn-secondary" (click)="search(option.value)">Search</button>
				  </div>
				</div>
			  </form>

			<ul class="list-group mb-3">
				<li *ngFor="let user of users" (click)="selectUser(user)" class="list-group-item d-flex justify-content-between lh-condensed">
					<div>
						<h6 class="my-0">{{user.username}}</h6>
						<small class="text-muted">Balance ${{user.balance}}</small>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>